* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #fdfdfd;
}
.container {
  float: right;
  width: 100%;
}
.lateral {
  overflow: auto;
  font-size: 1.2rem;
  padding-left: 10px;
  position: fixed;
  float: left;
  min-width: 20%;
  max-width: 35%;
  background-color: rgb(240, 249, 240);
  height: 100%;
}
.menu {
  margin-left: 20%;
  font-size: 1.6rem;
  text-align: center;
  padding: 2% 10%;
  height: 40px;
  background: rgb(255, 255, 255);
  text-decoration: underline;
}

main {
  min-height: 400px;
  margin-left: 20%;
}
.busca {
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.busca span {
  display: block;
}
.busca button,
.busca input {
  padding: 5px;
}
.busca button {
  cursor: pointer;
  border: none;
  border-radius: 2px solid;
  font-size: 1.2rem;
}
.busca button:hover {
  background-color: rgb(240, 249, 240);
}

.noVisible {
  display: none;
}
.alert {
  color: red;
}
/* */
/* mobile- monitores abaixo de 560px*/
@media screen and (max-width: 560px) {
  .menu {
    margin-left: 0%;
  }
  .busca button {
    display: block;
    text-align: center;
    margin-left: 33%;
  }
  main {
    justify-content: center;
    text-align: center;
    margin-left: 3%;
  }
  .lateral {
    display: none;
  }
  .noVisible {
    display: block;
  }
}
